* {
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
} 

.container {
	min-width: 576px;
	max-width: 1000px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.users {
	margin-top: 10px;
}

.header-row {
	background: gray;
}

.table-row {
	display: flex;
	height: 40px;
	border-bottom: 1px solid gray;

	&:not(.header-row) {
		cursor: pointer;
	}

	&:nth-child(odd):not(.header-row) {
		background: lightgray;
	}
}

.table-cell {
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;

	&__content {
		white-space: nowrap; 
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.loader {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	&__spinner {
		height: 38px;
		width: 38px;
		pointer-events: none;
		display: block;
	}
}

.pagination {
	&__per-page {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&__select {
		margin-left: 10px;
	}

	&__button {
		margin-left: 5px;
		margin-right: 5px;
	}

	&__pages {
		margin-left: -5px;
		margin-right: -5px;
	}
}

.filter {
	&__inputs {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__buttons {
		padding-top: 5px;
		padding-bottom: 10px;
		display: flex;
		justify-content: flex-end;
	}
}

.form-group {
	padding-bottom: 5px;
}
.button,
.input,
.select {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px 10px;

	&:hover {
		border-color: lightsteelblue;
	}
	
	&:focus, &:active {
		border-color: lightskyblue;
		outline: lightskyblue;
	}

	&:disabled {
		border-color: lightgrey;
	}
}

.backdrop {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba( #000000, .5);
	z-index: 10;
}

.popup {
	position: fixed;
	left: 50%;
	top: 10px;
	margin-left: -250px;
	width: 500px;
	height: 450px;
	background: #FFFFFF;
	z-index: 20;
	display: flex;
	flex-direction: column;

	&__footer {
		display: flex;
		justify-content: flex-end;
		padding: 10px;
	}

	&__button {
		width: 100px;
	}
}

.user-profile {
	padding: 10px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;


	&__full-name {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		padding-bottom: 10px;
		text-transform: capitalize;
	}
	&__photo {
		margin-right: 10px;
		margin-bottom: 5px;
		width: 128px;
		height: 128px;
	}
	&__no-photo {
		width: 128px;
		height: 128px;
		line-height: 128px;
		border: 1px solid;
		text-align: center;
	}
	&__info {
		display: flex;

		&--column {
			flex-direction: column;
		}
	}
}

.labled-value {
	padding-bottom: 5px;
	&__label {
		text-transform: uppercase;
		font-weight: bold;

		&::after {
			content: ':';
		}
	}
}

.button {
	&:hover {
		color: steelblue;
	}
	
	&:focus, &:active {
		color: skyblue;
	}
}

.input,
.select {
	height: 30px;
}

.input {
	width: 180px;
}


@media (prefers-reduced-motion: no-preference) {
	.loader__spinner {
		animation: loader-spin infinite 1s linear;
	}
}

@keyframes loader-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}